<%= form_for @photo, :html => { :multipart => true } do |form| %>
 <div id="form"> <%= form.file_field :avatar %> </div>

   <p>
    <%= form.label :caption %><br>
    <%= form.text_area :caption %>
  </p>
  <p>
    <%= form.submit %>
  </p>
<% end %>