<h1>BruGram</h1>

<p><%= link_to 'New Gram', new_photo_path %> | <%= link_to '#Hashtags', hashtags_path %> </p>
<% @photos.each do |photo| %>
<p>
<%= image_tag photo.avatar.url(:medium) %>
<p>
<%= photo.caption %>
</p>
<%= link_to 'Show', photo_path(photo) %></td>   </p>

<%end%>

